<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBS4xsBrvBHBSiKwJ4fnyaCe64DTppAHTU</string>
	<key>GCM_SENDER_ID</key>
	<string>430096437897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.curseSmart</string>
	<key>PROJECT_ID</key>
	<string>aulasmart-b556a</string>
	<key>STORAGE_BUCKET</key>
	<string>aulasmart-b556a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430096437897:ios:9b0044c2f00ac9f8d6ec58</string>
</dict>
</plist>